* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: Times, serif;

    color: white;
}

body{
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    background-color: #0E284F;
}

#profile{
    margin: 20px;
    height: 100vh - 20px;

    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    align-items: center;
    text-align: center;

    background-color: #001825;
}

#profile img{
    width: 260px;
    height: 260px;
    margin-bottom: 30px;

    border-radius: 120px;
    border: solid 14px #003351;
}

.icons button{
    margin: 5px;
}

.icons i{
    padding: 5px;
}

.icon:hover{
    transition: all 0.5s ease 0s;
    border: solid 1px white;
}

#main-page{
    margin: 20px;
    height: calc(100vh - 40px);
}

nav{
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    font-size: 1.3rem;
    background-color: #001825;
    text-align: center;
    border-radius: 12px;
}

nav a{
    padding: 8px 0;
    text-decoration: none;
    color: white;
}

nav a:hover{
    cursor: pointer;
    transition: all 0.7s ease 0s;
    background-color: #0E284F;
}

.main-view{
    display: none;
}

.main-view-show{
    display: block;
}

#projects, #home, #contact, #studies{
    margin: 20px;
    height: calc(100vh - 130px);
}

#home{
    align-self: center;
    text-align: center;
}

#projects{
    display: grid;
    grid-template-rows: auto 1fr;
}

#projects-list{
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: 50px;
}


.project{
    background-color: #003351;

    display: flex;
    flex-direction: column;
}

.project img{
    object-fit: cover;
    border-radius: 10px;
}

.project-info{
    padding: 15px;
}

.project-about{
    margin: 20px;
    height: calc(100vh - 130px);
    object-fit: cover;
    overflow: auto;
}

.project-about div{
    margin-top: 20px;
    background-color: #003351;

    overflow: hidden;
}

.project-about div{
    display: flex;
    flex-direction: column;
}

.project-about img{
    max-height: 250px;
    object-fit: cover;
    background-color: #003351;
    object-position: center top;

    margin-right: 10px;
}

.tools button{
    margin: 1px;
}

.project-info-links{
    display: flex;
    justify-content: space-between;
}

#studies li{
    list-style: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(18, 25, 63, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.alert {
    top: calc(100% - 80px);
    left: 15px;
    padding: 10px;
    background-color: #003351;
    border-radius: 10px;
    color: white;
    margin-bottom: 15px;
    display: none;
    position: absolute;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
